<ul class="rightcontact">
    <li class="right_title">
            联系方式
    </li>
    <li class="name">
        <span class="t">VIP客服：</span>
        <span class="c">@ConfigBLL.CurrentNetWorkSysConfigInfo.Sys_Value.ConcactName</span>
    </li>
    <li class="tel">
        <span class="t">电话：</span>
        <span class="c">@ConfigBLL.CurrentNetWorkSysConfigInfo.Sys_Value.Phone</span>
    </li>
    <li class="qq">
        <span class="t">QQ：</span>
        <span class="c"><a href="http://wpa.qq.com/msgrd?v=3&uin=@(ConfigBLL.CurrentNetWorkSysConfigInfo.Sys_Value.QQ)&site=qq&menu=yes" target="_blank">@ConfigBLL.CurrentNetWorkSysConfigInfo.Sys_Value.QQ</a></span>
    </li>
</ul>