<div class="focus_bg">
    <div class="jeavi_con cl">
        <!-- 幻灯 -->
        <div class="focus_box">
            <!--[diy=focus_box]-->
            <div id="focus_box" class="area">
                    <div class="bd">
                        <ul>
                            <li>
                                <div class="img-con">
                                    <a href="#" target="_blank" title="FD House：Roger Vivier创意总监的家">
                                        <img src="/Upload/Banner/Banner1.jpg" width="600" height="336" alt="FD House：Roger Vivier创意总监的家"/>
                                    </a>
                                </div>
                                <div class="txt">
                                    <div class="caption_info">
                                        <span class="num">01</span> <span class="author">admin</span> <span class="data">01-20</span>
                                    </div>
                                    <h2>
                                        <a href="#" target="_blank" title="FD House：Roger Vivier创意总监的家">FD House：Roger Vivier创意总监的家</a></h2>
                                    <p>
                                        runo Frisoni是鞋履设计大师，也是法国传奇鞋履品牌Roger Vivier的现任创意总监，他在鞋履设计中展现的那种华贵优雅也被他带到了家居风格之中，他位于Tangier的寓所，将新古典与摩洛哥特色融为一炉，并且强调线条的
                                    </p>
                                    <a href="#" target="_blank" title="FD House：Roger Vivier创意总监的家" class="read-more">Read More &#187;</a>
                                </div>
                            </li>
                            <li>
                                <div class="img-con">
                                    <a href="#" target="_blank" title="Elephan Parade 跟着大象去英国游行！">
                                        <img src="/Upload/Banner/Banner2.jpg" width="600" height="336" alt="Elephan Parade 跟着大象去英国游行！"/></a>
                                </div>
                                <div class="txt">
                                    <div class="caption_info">
                                        <span class="num">02</span> <span class="author">只需&nbsp; ￥2300</span> <span class="data">01-20</span>
                                    </div>
                                    <h2>
                                        <a href="#" target="_blank" title="Elephan Parade 跟着大象去英国游行！">Elephan Parade 跟着大象去英国游行！</a></h2>
                                    <p>
                                        最近熊猫可谓是火得是一塌糊涂，不仅成群结队攻占了欧洲街头，更爬上了成都新开幕的IFS。然而另一种动物也迫切需要得到我们的重视，那就是已面临濒危状态的亚洲象。目前，正有超过100只的由艺术家手绘的大象雕塑队伍</p>
                                    <a href="#" target="_blank" title="Elephan Parade 跟着大象去英国游行！" class="read-more">Read More &#187;</a>
                                </div>
                            </li>
                            <li>
                                <div class="img-con">
                                    <a href="#" target="_blank" title="袅袅白烟和鸡蛋泛出的金光，都是晨的恩赐。">
                                        <img src="/Upload/Banner/Banner3.jpg" width="600" height="336" alt="袅袅白烟和鸡蛋泛出的金光，都是晨的恩赐。"/>
                                    </a>
                                </div>
                                <div class="txt">
                                    <div class="caption_info">
                                        <span class="num">03</span> <span class="author">只需&nbsp; ￥2300</span> <span class="data">01-20</span>
                                    </div>
                                    <h2>
                                        <a href="#" target="_blank" title="袅袅白烟和鸡蛋泛出的金光，都是晨的恩赐。">袅袅白烟和鸡蛋泛出的金光，都是晨的恩赐。</a></h2>
                                    <p>
                                        提到TVB，恐怕无人不知，从豪门恩怨剧《大时代》、《创世纪》到接地气的《陀枪师姐》、以及各种金庸经典《天龙八部》《神雕侠侣》，它们陪伴我们度过了一个又一个背着父母看电视的寒暑假，让我们认识了香港这个地方
                                    </p>
                                    <a href="portal.php?mod=view&aid=29" target="_blank" title="袅袅白烟和鸡蛋泛出的金光，都是晨的恩赐。" class="read-more">Read More &#187;</a>
                                </div>
                            </li>
                            <li>
                                <div class="img-con">
                                    <a href="#" target="_blank" title="正如加泰罗尼亚区旗告诉我们的一样，红黄才是这颗加泰明珠上空最为夺目的色彩。">
                                        <img src="/Upload/Banner/Banner4.jpg" width="600" height="336" alt="正如加泰罗尼亚区旗告诉我们的一样，红黄才是这颗加泰明珠上空最为夺目的色彩。">
                                    </a>
                                </div>
                                <div class="txt">
                                    <div class="caption_info">
                                        <span class="num">04</span> <span class="author">admin</span> <span class="data">01-20</span>
                                    </div>
                                    <h2>
                                        <a href="#" target="_blank" title="正如加泰罗尼亚区旗告诉我们的一样，红黄才是这颗加泰明珠上空最为夺目的色彩。">正如加泰罗尼亚区旗告诉我们的一样，红黄才是这颗加泰明珠上空最</a>
                                    </h2>
                                    <p>
                                        日本三大古温泉之一的道后温泉是千与千寻的原型地，正如电影中那样，白天悄无声息的沉睡，夜幕拉开之后，犹如一座诡秘的城堡从天而降，一切都充满了神话的色彩。从明治风格的车站下来，步行3分钟就能到达泉，登高远
                                    </p>
                                    <a href="#" target="_blank" title="正如加泰罗尼亚区旗告诉我们的一样，红黄才是这颗加泰明珠上空最为夺目的色彩。"
                                        class="read-more">Read More &#187;</a>
                                </div>
                            </li>
                            <li>
                                <div class="img-con">
                                    <a href="#" target="_blank" title="纵贯欧洲南北最美线路 伯尔尼纳快车感受原味阿尔卑斯">
                                        <img src="/Upload/Banner/Banner5.jpg" width="600" height="336" alt="纵贯欧洲南北最美线路 伯尔尼纳快车感受原味阿尔卑斯"/></a>
                                </div>
                                <div class="txt">
                                    <div class="caption_info">
                                        <span class="num">05</span> <span class="author">￥3000</span> <span class="data">01-20</span>
                                    </div>
                                    <h2>
                                        <a href="#" target="_blank" title="纵贯欧洲南北最美线路 伯尔尼纳快车感受原味阿尔卑斯">
                                            纵贯欧洲南北最美线路 伯尔尼纳快车感受原味阿尔卑斯</a></h2>
                                    <p>
                                        2008年，教科文组织将伯尔尼纳快车图西斯(Thusis)至蒂拉诺(Tirano)段确定为世界遗产地，成为世界上第三条获此殊荣的铁路线。第32届世界遗产大会上，瑞士最大的私营铁路网RhB铁路位于阿尔布拉－伯尔尼纳(Albula/Berni</p>
                                    <a href="#" target="_blank" title="纵贯欧洲南北最美线路 伯尔尼纳快车感受原味阿尔卑斯"
                                        class="read-more">Read More &#187;</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="btn">
                        <a href="javascript:void(0)" class="next">> </a>
                        <a href="javascript:void(0)" class="prev"> < </a>
                    </div>
                </div>
            </div>
        </div>
</div>