<div class="jeavi_con cl">
    <div id="scrolldiv">
        <!--[diy=diyscrolldiv]-->
        <div id="diyscrolldiv" class="area">
            <div id="framewcx0ZI" class="frame move-span cl frame-1">
                <div id="framewcx0ZI_left" class="column frame-1-c">
                    <div id="framewcx0ZI_left_temp" class="move-span temp">
                    </div>
                    <div id="portal_block_198" class="block move-span">
                        <div id="portal_block_198_content" class="dxb_bc">
                            <div class="bd">
                                <ul>
                                    <li><a href="#" title="FD House：Roger Vivier创意总监的家" target="_blank">FD House：Roger Vivier创意总监的家</a> （2014-01-20）</li>
                                    <li><a href="#" title="Elephan Parade 跟着大象去英国游行！" target="_blank">Elephan Parade 跟着大象去英国游行！</a>（2014-01-20）</li>
                                    <li><a href="#" title="袅袅白烟和鸡蛋泛出的金光，都是晨的恩赐。" target="_blank">袅袅白烟和鸡蛋泛出的金光，都是晨的恩赐。</a> （2014-01-20）</li>
                                    <li><a href="#" title="正如加泰罗尼亚区旗告诉我们的一样，红黄才是这颗加泰明珠上空最为夺目的色彩。" target="_blank">正如加泰罗尼亚区旗告诉我们的一样，红黄才是这颗加泰明珠上空最为夺目的色彩。</a>（2014-01-20）</li>
                                    <li><a href="#" title="纵贯欧洲南北最美线路 伯尔尼纳快车感受原味阿尔卑斯" target="_blank">纵贯欧洲南北最美线路 伯尔尼纳快车感受原味阿尔卑斯</a> （2014-01-20）</li>
                                    <li><a href="#" title="TRAVELDES带你先睹为快 探访2014年索契冬奥会体育场馆" target="_blank">TRAVELDES带你先睹为快 探访2014年索契冬奥会体育场馆</a>（2014-01-20）</li>
                                </ul>
                            </div>
                            <ul class="ticker">
                                <li class="prev"><a href="javascript:void(0)"></a></li>
                                <li class="next" style="float: left;"><a href="javascript:void(0)"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[/diy]-->
    </div>
</div>
 
 <script type="text/javascript">
     jQuery("#scrolldiv").slide({ mainCell: ".bd ul", autoPage: true, effect: "leftLoop", autoPlay: true, delayTime: 500 });
 </script>