<footer>
<div class="container bs-footer">
    <p>
        本网注明“来源：XXX（武潭门户）”的作品，均转载自其它媒体，转载目的在于传递更多信息，并不代表本网赞同其观点和对其真实性负责.
    </p>
    <p>如因作品内容、版权和其它问题需要同本网联系的，请联系QQ:405562337</p>
    <p> </p>
    <ul class="footer-links">
    <li>Copyright © @DateTime.Now.Year Powered by <a href="www.5tan.net">武潭门户</a></li>
    <li class="muted">·</li>
    <li>
        <a href="http://Network.5tan.net" target="_blank">捂碳网络</a>
    </li>
    </ul>
</div>
</footer>