<script src="@Url.Content("~/Scripts/jquery.slides.min.js")" type="text/javascript"></script>
<div class="container">
    <div class="row header">
        <h2>
            <a title=" " href="/">
                <img border="0" alt=" " src="@Url.Content("~/Upload/logo.png")">
            </a>
        </h2>
        <div id="scbar" class="hd_search cl">
            <form>
                <ul>
                    <li><a id="stype" class="stype titlecolor" hidefocus="true" onclick="showMenu(this.id)" href="javascript:;">整站</a></li>
                    <li><input id="keyword" class="keyword_input" type="text" autocomplete="off" value="请输入搜索内容" name="keyword" placeholder="请输入搜索内容"/></li>
                    <li><button id="sh_btn" class="hd_but" value="true" type="submit">搜索</button></li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div class="container headernav">
    <div class="row">
        <ul>
            <li class="selected"><a href="/">首页</a></li>
            <li><a href="/">新闻资讯</a></li>
            <li><a href="/">生活娱乐</a></li>
            <li><a href="/">跳蚤市场</a></li>
            <li><a href="/">分类信息</a></li>
            <li><a href="/Network">网站建设</a></li>
            <li><a href="/">会员中心</a></li>
        </ul>
    </div>
</div>