<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="DefaultConnectionString" value="Data Source=184.168.47.13;Initial Catalog=wutan_;User ID=5tan;Password=sa123456;Connect Timeout=180"/>
    <!--是否開啟系統緩存-->
    <add key="IsStartCache" value="false"/>
    <!--緩存時長 單位（分鐘）-->
    <add key="CacheTime" value="60"/>
    <!--數據訪問程序集-->
    <add key="DAL" value="WTAN.SQLServerDAL"/>
    <!--广告图片上传位置-->
    <add key="AdsUploadDir" value="/Upload/Ads/"/>
    <!--文本编辑器文件上传位置-->
    <add key="EditUploadDir" value="/Upload/"/>
    <!--允许上传的图片类型 多个用|分割-->
    <add key="UplaodImgType" value="png|jpg|jpeg|gif|bmp"/>
    <!--允许上传的文件类型 多个用|分割-->
    <add key="UplaodFileType" value="png|jpg|jpeg|gif|bmp|doc|txt"/>
    <!--允许图片的大小-->
    <add key="UploadImgSize" value="1024"/>
    <!--允许文件的大小-->
    <add key="UploadFileSize" value="1024"/>
    <add key="WaterMarkText" value="东莞中青旅游"/>
    <add key="SqlServerKey" value="Demo"/>
    <add key="ManageDomain" value="http://Manage.5tan.net"/>
  </appSettings>
    
  <system.web>
    
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Login" timeout="2880"/>
    </authentication>
    <sessionState mode="InProc" timeout="60"/>
    
    <customErrors defaultRedirect="Error/AppException" mode="On">
      <error statusCode="404" redirect="/page404"/>
      <error statusCode="500" redirect="/page404?err=500"/>
    </customErrors>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
